<form class="form-horizontal" name="queueForm" ng-submit="submit()">
    <div class="form-group">
        <label class="col-sm-2 control-label">Service</label>
        <select>
            <option>New</option>
            <option>Existing</option>
        </select>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">First Name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" ng-model="FirstName" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Last Name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" ng-model="LastName" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Email</label>
        <div class="col-sm-6">
            <input type="email" class="form-control" ng-model="Email" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Phone Number</label>
        <div class="col-sm-6">
            <input type="number" class="form-control" ng-model="PhoneNumber" />
        </div>
    </div>
    <div class="log">
        <input type="submit" class="btn btn-primary col-sm-2" value="Submit" />
    </div>
</form>



