<!DOCTYPE html>
<html ng-app="QueueLess">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <title>Index</title>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <span class="navbar-brand">QueueLess</span>
            </div>
        </div>
    </div>
    <table>
        <tr>
            <td><a href="#/JoinQueue"> Join Queue </a> ||</td>
            <td><a href="#/ShowQueue"> Show Queue </a></td>
        </tr>
    </table>
    <div class="container container-fluid-content">
        <div ng-view></div>
    </div>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/app/main.js"></script>
    <script src="~/Scripts/app/config.js"></script>
    <script src="~/Scripts/app/services/AddQueueController.js"></script>
    <script src="~/Scripts/app/services/ShowQueueController.js"></script>
</body>
</html>

