<div class="text-center">
<h2>QLESS</h2>
    <br />
<h4 class="text-left">QLess is a mobile app that keeps track of the number of customers ahead of another person in line and the waiting time.</h4>
    <br />
    <div class="text-left">  
        <p><strong>Future plan for the site</strong></p>
        <p>add on site the edit method where customers will be able to request more time </p>
        <p>an alert message before their line approaches</p>         
    </div>
    <br />
<img src="Images/queue.jpg" height="575" width="764" border-radius="100%"/>
</div>