<div >
    <div class="col-lg-6">
        <label><strong>New Customers</strong></label>
        <div ng-controller="queueCountCtrl">Number of Customers {{queuecount.length}}  are ahead </div>
        <!--<div ng-controller="serviceCountCtrl">Number of New Customers {{queueservice.length}}  are ahead </div>-->
        <p> The minutes you have to wait is__ </p>
    </div>
     <div class="col-lg-offset-6">
        <label> Existing Customers</label>
        <p> There are __  customers ahead of you!</p>
        <p> The minutes you have to wait is __</p>
    </div>
</div>
<br />
<form class="form-horizontal" name="queueForm" ng-submit="save()" novalidate>
    <div class="form-group">
        <label class="col-sm-2 control-label">Service</label>
        <div class="col-sm-6">
        <select ng-model="queue.Service" class="form-control">
            <option value="new">New</option>
            <option value="exisiting">Existing</option>
        </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">First Name</label>
        <div class="col-sm-6">
        <input type="text" class="form-control" ng-model="queue.FirstName" required/>
        <div class="text-danger" ng-show="queueForm.FirstName.$error.required && queueForm.FirstName.$dirty"> Please enter your first name
        </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Last Name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" ng-model="queue.LastName" required/>
            <div class="text-danger" ng-show="queueForm.LasttName.$error.required && queueForm.LastName.$dirty">
                Please enter your last name
            </div>

        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Email</label>
        <div class="col-sm-6">
            <input type="email" class="form-control" ng-model="queue.Email" required/>
            <div class="text-danger" ng-show="queueForm.Email.$error.required && queueForm.Email.$dirty">
                Please enter valid email
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Phone Number</label>
        <div class="col-sm-6">
            <input type="number" class="form-control" ng-model="queue.PhoneNumber" required/>
            <div class="text-danger" ng-show="queueForm.PhoneNumber.$error.required && queueForm.PhoneNumber.$dirty">
                Please enter your phone number
            </div>
        </div>
    </div>
    <div class="col-lg-offset-3">

        <input type="submit" class="btn btn-primary col-sm-2" value="Submit" ng-class="{disabled: queueForm.$invalid}"  />

    </div>
</form>



