<div class="container">
        <h3 class="text-center">People on Queue</h3>
        <table class="table table-striped">
            <tr class="form-group">
                <label class="col-sm-1">Service</label>
                <div class="col-sm-2">
                    <select ng-model="Sfilter" class="form-control">
                        <option value="">All</option>
                        <option value="new">New</option>
                        <option value="exisiting">Existing</option>
                     </select> 
                </div>
            </tr>
            <thead>
                <tr>             
                    <th>Service</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th>Registration Time</th>
                    <th>Current Time</th>
                    <th>Estimated Minutes</th>
                    <th>People on Queue</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="queue in queues | filter : Sfilter">
                    <td>{{ queue.Service }}</td>
                    <td>{{ queue.FirstName }}</td>
                    <td>{{ queue.LastName }}</td>
                    <td>{{ queue.PhoneNumber }}</td>
                    <td>{{ queue.Email }}</td>
                    <td>{{ queue.RegistrationTime }}</td>
                    <td>{{ queue.CurrentTime }}</td>
                    <td>{{ queue.EstimatedMinutes }}</td>
                    <td>{{ queue.PeopleOnQueue }}</td>
                    <td>
                        <button class="btn btn-info btn-sm" ng-click="edit(queue.ID)">
                            <span class="glyphicon glyphicon-pencil"></span>  Edit
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-warning btn-sm" ng-click="delete(queue.ID)">
                            <span class="glyphicon glyphicon-trash "></span>  Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

