
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <span class="navbar-brand">QueueLess</span>
            </div>
        </div>
    </div>
    <table>
        <tr>
            <td>@Html.ActionLink("Get Queue", "Index", "AddQueueController") |</td>
            <td>@Html.ActionLink("Show Queue", "Index", "ShowQueueController") | </td>
            <td><a href="#/AddQueue"> Get Queue </a></td>

        </tr>
    </table>
    <div class="container container-fluid-content">
        <div ng-view></div>
    </div>
</body>
